$white: #fff;
$black: #000;
$blur: 10px;
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba($black, 0.05);
  transition: 250ms ease all;
  opacity: 0.2;
  border: 0px none #ffffff;
  border-radius: 100px;
  &:active,
  &:hover {
    background: #7d7d7d;
  }
}

::-webkit-scrollbar-track {
  background: rgba($black, 0.05);
  transition: 250ms ease all;
  border: 0px none #ffffff;
  border-radius: 50px;
  &:active,
  &:hover {
    background: #d1d1d1;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

*:hover > ::-webkit-scrollbar-track {
  background: rgba($black, 0.1);
}

*:hover > ::-webkit-scrollbar-thumb {
  background: rgba($black, 0.1);
}

.mw-header {
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 0 1rem;
  background: rgba($white, 0.8);
  &:before {
    position: absolute;
    content: "";
    inset: 0;
    backdrop-filter: blur($blur);
    z-index: -1;
  }
  #mw-sidebar-button {
    display: none;
  }
  .mw-logo {
    &-tagline,
    &-icon {
      display: none;
    }
  }
}
.mw-page-container {
  max-width: 100%;
  padding: 0;
  border: none;
}

.vector-search-box {
  display: flex;
  justify-content: center;
}
.vector-search-box-vue > div {
  position: relative;
  margin-left: 0 !important;
  border: none;
  border-radius: 0.5rem !important;
  background: #fff;
  .searchButton[name="go"] {
    position: absolute;
    right: 1rem;
    left: auto !important;
  }
  .vector-search-box-input {
    background: none;
    padding: 1rem 2rem !important;
    border: none;
    height: 2.5rem;
    font-size: 1.2rem;
    padding-right: 7rem !important;
  }
}

.wvui-typeahead-search {
  position: relative;
  margin-left: 0 !important;
  border: none;
  border-radius: 0.5rem !important;
  &__wrapper {
    position: static;
  }
  &__suggestions {
    background: rgba($white, 0.8);
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
    border: none;
    box-shadow: 0.3px 2.4px 2.5px -23px rgba(#000, 0.04),
      0.8px 5.9px 5.9px -23px rgba(#000, 0.06),
      1.5px 11px 11.1px -23px rgba(#000, 0.07),
      2.7px 19.7px 19.9px -23px rgba(#000, 0.08),
      5px 36.8px 37.2px -23px rgba(#000, 0.1),
      12px 88px 89px -23px rgba(#000, 0.13);
    &:before {
      position: absolute;
      content: "";
      inset: 0;
      backdrop-filter: blur($blur);
      z-index: -1;
    }
  }
  .wvui-input__input {
    background: none;
    padding: 1rem 2rem !important;
    border: none;
    height: 2.5rem;
    font-size: 1.2rem;
    &:focus {
      box-shadow: none;
    }
  }
  .wvui-input__start-icon {
    position: absolute;
    right: -5rem;
    left: auto !important;
  }
  .wvui-typeahead-search__submit {
    opacity: 0 !important;
  }
}
//SIDEBAR
#mw-panel {
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  overflow: auto;
  width: 20rem;
  border: none !important;
  .vector-menu-portal {
    .mw-list-item {
      a {
        font-size: 0.8rem;
        color: $black !important;
        display: block;
        padding: 0.1rem 0rem;
      }
    }
    .vector-menu-heading {
      position: relative;
      background: none;
      color: $black;
      font-weight: bold;
      font-size: 1rem;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2em;
        height: 2px;
        background: black;
      }
    }
  }
}

//TABS
.vector-menu-tabs {
  background: none;
  li {
    background: none;
    a {
      color: $black;
      background: none;
    }

    &.selected {
      a {
        box-shadow: 0 2px $black;
        font-weight: bold;
      }
    }
  }
}

//CONTENT

.mw-workspace-container {
  max-width: 100%;
  padding-left: 21rem;
  padding-right: 2rem;
}
.mw-workspace-container {
  position: static;
}
.mw-content-container,
.mw-article-toolbar-container {
  max-width: 100%;
}
.mw-article-toolbar-container {
  border-bottom: 2px solid rgba($black, 0.1);
}
.mw-body {
  border: none !important;
}

.mw-parser-output {
  display: flex;
  flex-direction: column;
  [id*="_contenu"] {
    order: 0;
  }

  [id*="_en-tete"] {
    order: 1;
  }
}
